.error {
  background-color: #383838;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 1px #c53535;
}
